[submodule "third_party/boost/lockfree"]
	path = third_party/boost/lockfree
	url = https://github.com/boostorg/lockfree.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/boost/parameter"]
	path = third_party/boost/parameter
	url = https://github.com/boostorg/parameter.git
